@model ArchivedCarsQueryModel

@{
    ViewBag.Title = "Archived cars";
}

<a asp-area="@AdminAreaName" asp-action="Index" asp-controller="Home" class="small text-black-50 p-3">Go back to Home</a>
<h2 class="text-center mx-3 mt-3 border-bottom border-dark border-5 pb-3 mb-0">@ViewBag.Title</h2>
<div class="card-body">
    <form method="get" class=" bg-opacity-10 bg-dark p-3 mb-3">
        <div class="row">
            <div class="form-group pb-2 col-md-6">
                <label asp-for="CarMake"></label>
                <select asp-for="CarMake" class="form-control">
                    <option value="">All</option>
                    @foreach (var carmMake in Model.CarMakes.OrderBy(x => x))
                    {
                        <option value="@carmMake">@carmMake</option>
                    }
                </select>
            </div>

            <div class="form-group pb-2 col-md-3">
                <label asp-for="CarType"></label>
                <select asp-for="CarType" class="form-control">
                    <option value="">All</option>
                    <option value="0">Saloon</option>
                    <option value="1">SUV</option>
                    <option value="2">Pickup</option>
                    <option value="3">Coupe</option>
                    <option value="4">Hatchback</option>
                    <option value="5">Estate</option>
                    <option value="6">Convertible</option>
                    <option value="7">Van</option>
                </select>
            </div>

            <div class="form-group pb-2 col-md-3">
                <label asp-for="FuelType"></label>
                <select asp-for="FuelType" class="form-control">
                    <option value="">All</option>
                    <option value="0">Gasoline</option>
                    <option value="1">Diesel</option>
                    <option value="2">LPG</option>
                    <option value="3">Hybrid</option>
                    <option value="4">Electric</option>
                </select>
            </div>

        </div>

        <div class="row">
            <div class="col-md-3">
                <label asp-for="Transmission"></label>
                <select asp-for="Transmission" class="form-control">
                    <option value="">Any</option>
                    <option value="0">Automatic</option>
                    <option value="1">Manual</option>
                </select>
            </div>
            <div class="col-md-3">
                <label asp-for="Drivetrain"></label>
                <select asp-for="Drivetrain" class="form-control">
                    <option value="">Any</option>
                    <option value="0">Rear Wheel Drive</option>
                    <option value="1">All Wheel Drive</option>
                    <option value="2">Front Wheel Drive</option>
                </select>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="form-group pb-2 col-md-6">
                        <label asp-for="CarSorting" class="text-warning"></label>
                        <select asp-for="CarSorting" class="form-control border border-warning">
                            <option value="0">By Relevance</option>
                            <option value="1">Price (Ascending)</option>
                            <option value="2">Price (Descending)</option>
                            <option value="3">Horsepower (Ascending)</option>
                            <option value="4">Horsepower (Descending)</option>
                        </select>
                    </div>

                    <div class="form-group mt-4 col-md-6">
                        <input type="submit" value="Search" class="btn btn-warning px-3 w-100 fw-bold" />
                    </div>
                </div>
            </div>
        </div>
    </form>


    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">CarId</th>
                <th scope="col">Make model</th>
                <th scope="col">Type</th>
                <th scope="col">Transmission</th>
                <th scope="col">Fuel</th>
                <th scope="col">HP</th>
                <th scope="col">Recover</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.TotalCars != 0)
            {
                @foreach (var car in Model.Cars)
                {
                    <tr>
                        <td>@car.Id</td>
                        <td>@car.MakeModel</td>
                        <td>@car.CarType</td>
                        <td>@car.Transmission</td>
                        <td>@car.Fuel</td>
                        <td>@car.Horsepower</td>
                        <td class="bg-dark"><a class=" text-success text-decoration-underline text-center text-decoration-none fw-bold" asp-area="@AdminAreaName" asp-controller="Car" asp-action="Recover" asp-route-id="@car.Id" onclick="return confirm('Are you sure you want to recover this car?')">Recover</a></td>

                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="7" class="text-center fs-4">No matches</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="row px-3 rounded">
    @{
        int previousPage = Model.CurrentPage - 1;
        if (previousPage < 1)
        {
            previousPage = 1;
        }

        int maxPage = (int)Math.Ceiling((double)Model.TotalCars /
        Model.CarsPerPage);

    }
    <div class="row mb-5">
        <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-start">
            <a class="btn btn-warning fw-bolder @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
               asp-controller="Car"
               asp-action="All"
               asp-route-currentPage="@previousPage"
               asp-route-carMake="@Model.CarMake"
               asp-route-carType="@Model.CarType"
               asp-route-fuelType="@Model.FuelType"
               asp-route-drivetrain="@Model.Drivetrain"
               asp-route-transmission="@Model.Transmission"
               asp-route-sorting="@((int)Model.CarSorting)"><<</a>
        </div>

        @{
            bool shouldNextPageBeDisabled = Model.CurrentPage == maxPage ||
            !Model.Cars.Any();
        }

        <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-end">
            <a class="btn btn-warning fw-bolder
           @(shouldNextPageBeDisabled ? "disabled" : string.Empty)"
               asp-controller="Car"
               asp-action="All"
               asp-route-currentPage="@(Model.CurrentPage + 1)"
               asp-route-carMake="@Model.CarMake"
               asp-route-carType="@Model.CarType"
               asp-route-fuelType="@Model.FuelType"
               asp-route-drivetrain="@Model.Drivetrain"
               asp-route-transmission="@Model.Transmission"
               asp-route-sorting="@((int)Model.CarSorting)">>></a>
        </div>
    </div>
</div>
