@model UserRentalsQueryModel

@{
    ViewBag.Title = "My rents";
}

<h2 class="text-center m-3 navbar-brand-custom text-warning border-bottom border-warning border-5 pb-3 mb-4">@ViewBag.Title</h2>
<div class="container px-5 pb-5">
    <form method="get">
        <div class="row">
            <div class="form-group col-md-3 p-0">
                <div class="form-group">
                    <label asp-for="RentalsSorting"></label>
                    <select asp-for="RentalsSorting" class="form-control">
                        <option value="0">Relevance</option>
                        <option value="1">Newest</option>
                        <option value="2">Oldest</option>
                        <option value="3">Total cost (Ascending)</option>
                        <option value="4">Total cost (Descending)</option>
                    </select>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group mt-4 mb-4">
                    <input type="submit" value="Search" class="btn btn-warning" />
                </div>
            </div>
        </div>
    </form>
    @{
        int previousPage = Model.CurrentPage - 1;
        if (previousPage < 1)
        {
            previousPage = 1;
        }

        int maxPage = (int)Math.Ceiling((double)Model.TotalRentals /
        Model.RentalsPerPage);

    }
    <div class="row mb-3">
        <div class="col-md-6 d-grid d-md-flex justify-content-md-start p-0">
            <a class="btn btn-warning @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
               asp-controller="Rental"
               asp-action="Mine"
               asp-route-currentPage="@previousPage"
               asp-route-sorting="@((int)Model.RentalsSorting)"><<</a>
        </div>

        @{
            bool shouldNextPageBeDisabled = Model.CurrentPage == maxPage ||
            !Model.Rentals.Any();
        }

        <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-end p-0">
            <a class="btn btn-warning
           @(shouldNextPageBeDisabled ? "disabled" : string.Empty)"
               asp-controller="Rental"
               asp-action="Mine"
               asp-route-currentPage="@(Model.CurrentPage + 1)"
               asp-route-sorting="@((int)Model.RentalsSorting)">>></a>
        </div>
    </div>
    @foreach (var item in Model.Rentals)
    {
        <div class="row my-4 border ">
            <div class="col-md-3 image-container p-0">
                <a class="nav-link p-0 text-decoration-underline" asp-area="" asp-controller="Car" asp-action="Details" asp-route-id="@item.CarId">
                    <img src="@item.ThumbnailImageUrl" class="img-fluid rounded-start" alt="@item.MakeModel">
                </a>
            </div>
            <div class="col-md-9">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-9">
                            <a class="nav-link px-0 pt-0 text-decoration-underline" asp-area="" asp-controller="Car" asp-action="Details" asp-route-id="@item.CarId"><h2 class="card-title">@item.MakeModel</h2></a>
                        </div>
                        <div class="col-md-3">
                            <p class="small text-end">Created on: @item.CreatedOn.ToString("dd-MM-yyyy HH:mm")</p>    
                        </div>
                    </div>
                    <h1>From: @item.StartDate.ToString("dd-MM-yyyy"), To: @item.EndDate.ToString("dd-MM-yyyy")</h1>
                    @{
                        if (item.isPaid)
                        {
                            ViewBag.Status = "Paid";
                        }
                        else
                        {
                            ViewBag.Status = "Not paid";
                        }
                    }
                    <h4>Payment status: @ViewBag.Status</h4>
                    <h2>Total cost: €@item.TotalCost</h2>
                </div>
            </div>
        </div>
    }
    <div class="row mb-3">
        <div class="col-md-6 d-grid d-md-flex justify-content-md-start p-0">
            <a class="btn btn-warning @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
               asp-controller="Rental"
               asp-action="Mine"
               asp-route-currentPage="@previousPage"
               asp-route-sorting="@((int)Model.RentalsSorting)"><<</a>
        </div>

        <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-end p-0">
            <a class="btn btn-warning
           @(shouldNextPageBeDisabled ? "disabled" : string.Empty)"
               asp-controller="Rental"
               asp-action="Mine"
               asp-route-currentPage="@(Model.CurrentPage + 1)"
               asp-route-sorting="@((int)Model.RentalsSorting)">>></a>
        </div>
    </div>
</div>