@model IEnumerable<AllCarsViewModel>

@{
    ViewBag.Title = "All cars";
}


<h2 class="text-center m-3 navbar-brand-custom text-warning border-bottom border-warning border-5 pb-3">@ViewBag.Title</h2>

<div class="row px-3 rounded">
    <div class="col-md-4">
    </div>
    <div class="col-md-8 container-fluid">
        @foreach (var car in Model)
        {
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4 image-container">
                        <a class="nav-link p-0 text-decoration-underline" asp-area="" asp-controller="Car" asp-action="Details" asp-route-id="@car.Id">
                            <img src="@car.ThumbnailImageUrl" class="img-fluid rounded-start" alt="@car.MakeModel">
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <a class="nav-link px-0 pt-0 text-decoration-underline" asp-area="" asp-controller="Car" asp-action="Details" asp-route-id="@car.Id"><h2 class="card-title">@car.MakeModel</h2></a>
                            <p class="card-text fs-5 mb-0">Car Type: @car.CarType</p>
                            <p class="card-text fs-5 mb-0">Horsepower: @car.Horsepower</p>
                            <div class="row fs-5">
                                <div class="col-sm-6">
                                    <p class="card-text">Fuel: @car.Fuel</p>
                                </div>
                                <div class="col-sm-6 mb-sm-0">
                                    <span class="badge bg-primary text-bg-primary rounded-pill">Daily price: €@car.PricePerDay</span>
                                </div>
                            </div>
                            <div class="row fs-5">
                                <div class="col-sm-6">
                                    <p class="card-text">Transmission: @car.Transmission</p>
                                </div>
                                <div class="col-sm-6 mb-sm-0">
                                    <span class="badge bg-success text-bg-success rounded-pill">Weekly price: €@car.PricePerWeek</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>